<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MenthusViC University", "Index", "Home", new { area = "" }, new { @class = "navbar-brand menthus" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "active-field" : "")">
                        @Html.ActionLink("Home", "Index", "Home")</li>

                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Student" ? "active-field" : "")">
                        @Html.ActionLink("Students", "Index", "Student")</li>
                    
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Course" ? "active-field" : "")">
                        @Html.ActionLink("Courses", "Index", "Course")</li>
                    
                    
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Enroll" ? "active-field" : "")">
                        @Html.ActionLink("Enroll", "Enroll", "Enroll")</li>
                    
                    
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active-field" : "")">
                        @Html.ActionLink("About", "About", "Home")</li>
                    
                    
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active-field" : "")">
                        @Html.ActionLink("Contact", "Contact", "Home")</li>


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" 
         @*style="background-image: url('/Images/man-suit-blackboard-science-math.jpg');
                opacity:0.5;
                min-width:100%;
                min-height:100%;
                background-color:rgba(0,0,0,0.9)"*@>
        @RenderBody()
        <hr />
        <footer class="nav-divider">
            <p>&copy; @DateTime.Now.Year MenthusViC University</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
