@model MVCDemo.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            Enrollments
           @* @Html.DisplayNameFor(model=>model.enrollment)*@
        </dt>

        @*<dd>
            <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.enrollment)
                 {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.course.Name)
                        </td>
                        <td>
                           @* @Html.DisplayFor(modelItem => item.student.EnrollmentNumber)
                        </td>
                    </tr>
                 }
            </table>
        </dd> *@






</dl>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit","Student", new { id = Model.StudentID },new { @class="btn btn-primary btn-save"})*@
    
    @Html.ActionLink("Back to List", "Index","Student",new { @class="btn btn-primary btn-save" })

    @Html.ActionLink("Enroll Student", "Enroll", "Student", new { @class = "btn btn-primary btn-save" })


</p>
