@model IEnumerable<MVCDemo.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-bottom:30px;"> List of Students</h2>


@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <div style="margin-bottom:20px;">

        <strong>Search Name</strong>
        @Html.TextBox("SearchName", null, htmlAttributes: new { @class = "form-control form-inline" })

        <input type="submit" value="Filter" class="btn btn-primary btn-save" />
    </div>
}

<table class="table ">
    <tr>
        <th colspan="10">
            @Html.DisplayNameFor(model => model.EnrollmentNumber)
        </th>
        <th colspan="10">
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td colspan="10">
                @Html.DisplayFor(modelItem => item.EnrollmentNumber)
            </td>
            <td colspan="10">
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @using (Html.BeginForm("Delete", "Student", new { id = item.StudentID }))
                {
                    @Html.ActionLink("Edit"
                                    , "Edit"
                                    , "Student"
                                    , new { id = item.StudentID }
                                    , new { @class = "btn btn-primary btn-large btn-custom" })



                    @Html.ActionLink("Details"
                                    , "Details", "Student"
                                    , new { id = item.StudentID }
                                    , new { @class = "btn btn-primary btn-large btn-custom" })


                    @*@Html.ActionLink( "Delete"
                        , "Delete"
                        , "Student"
                        , new { id = item.StudentID }
                        , new { @class = "btn btn-danger btn-large btn-custom" })*@
                    <input type="submit"
                           value="Delete"
                           href="#"
                           id="Delete"
                           class="btn btn-danger btn-large btn-custom"
                           onclick="return confirm('Are you sure want to delete this student with Student ID= @item.EnrollmentNumber')" />


                        @Html.ActionLink("Quick Enroll"
                                      , "Enroll"
                                      , "Enroll"
                                      , new { id = item.StudentID }
                                      , new { @class = "btn btn-primary btn-large btn-custom" })
                }
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "Create", "Student", null, new { @class = "btn btn-primary btn-save" })
</p>

@* This code is to do the deleting operation using the AJAX post request
    so the page won't reload while we delete a record *@
<script type="text/javascript">
    $(document).delegate('#Delete', 'click', function (e)
    {

    e.preventDefault();

    $.ajax({
            type: "post",
            url: "@Url.Action("Delete", "Student")",
            ajaxasync: true,
            data: { id : $('input#idField').val() },
            success: function () {

            alert("success");

            // Perform redirect
            window.location.replace("@Url.Action("Index", "Student")");
            },
            error: function (data) {
            alert(data.x);
            }
        });
    });
</script>